body{
    font-family: 'Poppins', sans-serif;
}


.text{
    padding-top: 150px;
}
.buy-now-button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.carousel{
    background-image: url(images/bg-1.png), url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-position-x: center, left;
}
.phone{
    padding-top: 50px;
}
.card{
    border: none !important;
    box-shadow: 5px 5px 10px lightgray;
}
.laptop{
    padding-top: 100px;
}
.categories{
    
}
.align-center{
    text-align: center;
    padding-top: 100px;
}
.container img{
    justify-self: auto;
}
.align{
    justify-content: center;
    align-items: center;
}